.text-1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  color: #131313;
  line-height: 1.3em;
  font-weight: 600;
}

.text-2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #131313;
  line-height: 1.3em;
  font-weight: 400;
}