.title-1 {
  font-family: 'Satisfy', cursive;
  font-size: 22px;
  line-height: 1.3em;
  color: #131313;
}

.title-2 {
  font-family: 'Unna', serif;
  font-weight: 700;
  font-size: 245px;
  line-height: 1.3em;
  @include respond-to('desktop') {
    font-size: 200px;
  }
  @include respond-to('horizontal-tablet') {
    font-size: 140px;
  }
  @include respond-to('vertical-tablet') {
    font-size: 80px;
  }
  @include respond-to('mobile') {
    font-size: 40px;
  }
}

.title-3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 45px;
  line-height: 1.3em;
  @include respond-to('desktop') {
    font-size: 40px;
  }
  @include respond-to('horizontal-tablet') {
    font-size: 30px;
  }
  @include respond-to('vertical-tablet') {
    font-size: 25px;
  }
  @include respond-to('mobile') {
    font-size: 23px;
  }
}

.title-4 {
  font-size: 100px !important;
  font-family: 'Montserrat', sans-serif;
  line-height: 1em;
  font-weight: 700;
  @include respond-to('desktop') {
    font-size: 80px !important;
  }
  @include respond-to('horizontal-tablet') {
    font-size: 70px !important;
  }
  @include respond-to('vertical-tablet') {
    font-size: 53px !important;
  }
  @include respond-to('mobile') {
    font-size: 45px !important;
  }
}

