.site-content-contain {
	width: 100vw;
	overflow: hidden;
	position: relative;
	//@include background-pattern();
	background-repeat: repeat repeat;
	background-size: 150px;
}
.header-banner-wrapper {
	position: relative;
	padding-top: 55px;

	.title-wrapper {
		@include container-about-me();
		position: absolute;
		top: 50%;
		right: 0;
		left: 0;
		transform: translateY(-50%);
		z-index: 4;

		h1 {
			color: $white;
			z-index: 2;
			margin: 0;
			display: block;
			text-align: right;
			text-transform: uppercase;
			letter-spacing: $letter-spacing;
			font-weight: 400;
			position: relative;
			right: -10px;
			top: 105px;
		}
	}

	.header-banner {
		height: 300px;
		background: url('http://stijnolthof.nl/make-up.jpg') center center no-repeat;
		background-size: cover;
		position: relative;

		.darkened-background {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $dark-gray;
			opacity: 0.9;
			z-index: 2;
		}
	}
}

.block {
	@include container-about-me();
	@include clearfix();
	margin-bottom: 200px;

	&:first-of-type {
		margin-top: 240px;

		@include mq(medium) {
			margin-top: 100px;
		}

		@include mq(portraittablet) {
			margin-top: 120px;
		}
	}

	@include mq(medium) {
		margin-bottom: 50px;
	}

	&:first-of-type {
		.row .quote {
			top: -205px;
			left: 50px;

			@include mq(medium) {
				top: -80px;
				left: 15px;
			}

			@include mq(portraittablet) {
				top: -110px;
			}
		}
	}

	&:nth-child(even) {
		.row {
			display: flex;
			flex-direction: row-reverse;

			@include mq(medium) {
				flex-direction: column;
				display: block;
			}

			.image-side .inner-wrap {

				.pattern img {
					transform: translate(50%, -50%);
					right: 0;
					left: unset;
				}

				.image-wrap {
					padding: 50px 50px 0 0;
					margin-left: auto;


					@include mq(portraittablet) {
						padding: 20px 20px 0 0;
					}

					.image-background {
						right: 0;
						top: 0;
						left: 50px;
						bottom: 50px;

						@include mq(portraittablet) {
							bottom: 30px;
							left: 30px;
						}
					}
				}
			}
		}
	}

	.row {
		position: relative;
		@include make-row();

		.quote{
			z-index: 1;
			overflow: hidden;
			position: absolute;
			left: 0;
			top: 30px;
			max-width: 100%;

			p {
				margin: 0;
				color: $purple;
				opacity: 0.3;
				white-space: nowrap;
				font-weight: 700;
				font-size: 245px;
				line-height: 1.3em;

				@include mq(medium) {
					font-size: 100px;
				}
			}
		}

		.image-side, .text-side {
			@include make-xs-column(12);
			@include make-sm-column(12);
			@include make-md-column(6);
			box-sizing: border-box;
			z-index: 2;
		}

		.text-side {
			@include mq(portraittablet) {
				padding-top: 50px;
			}

			.text-wrapper {
				padding-top: 80px;
				max-width: 85%;

				@include mq(portraittablet) {
					max-width: unset;
					padding-top: 45px;
				}

				.text-title {
					font-family: $montserrat;
					font-size: $paragraph-title;
					color: $dark-gray;
					margin: 0;
					letter-spacing: $letter-spacing;
					text-transform: uppercase;
					font-weight: bold;
					line-height: 50px;

					@include mq(portraittablet) {
						line-height: 36px;
						font-size: 32px;
					}
				}

				.paragraph {
					font-family: $open-sans;
					font-size: $paragraph;
					color: $dark-gray;

					p {
						margin-top: 10px;
						line-height: 27px;

						@include mq(medium) {
							margin-bottom: 50px;
						}
					}
				}
			}
		}

		.image-side {
			.inner-wrap {
				position: relative;
				display: flex;
				flex: 1;

				.pattern {
					img {
						border-radius: 50%;
						width: 50vw;
						height: auto;
						position: absolute;
						left: 0;
						top: 50%;
						transform: translate(-50%, -50%);
						z-index: -1;

						@include mq(portraittablet) {
							width: 85vw;
						}

						@include mq(max) {
							width: 800px;
							height: 800px;
						}
					}
				}

				.image-wrap {
					position: relative;
					display: inline-block;
					float: left;
					max-width: 75%;
					max-height: 75%;
					padding: 50px 0 0 50px;

					@include mq(medium) {
						max-width: 100%;
					}

					@include mq(portraittablet) {
						padding: 20px 0 0 20px;
					}

					img {
						z-index: 5;
						max-width: 100%;
						max-height: 540px;
						display: block;
					}

					.image-background {
						position: absolute;
						top: 0;
						left: 0;
						bottom: 50px;
						right: 50px;
						background: $purple;
						opacity: 0.8;
						z-index: -1;

						@include mq(portraittablet) {
							bottom: 30px;
							right: 30px;
						}
					}
				}
			}
		}
	}
}
