.block-contact {
  @include container-about-me();
  @include clearfix();
  margin-bottom: 200px;

  @include mq(medium) {
    margin-bottom: 50px;
  }

  &:first-of-type {
    .row .quote {
      top: -205px;
      left: 50px;

      @include mq(medium) {
        top: -80px;
        left: 15px;
      }

      @include mq(portraittablet) {
        top: -110px;
      }
    }
  }

  &:nth-child(odd) {
    .row {
      display: flex;
      flex-direction: row-reverse;

      @include mq(medium) {
        flex-direction: column;
        display: block;
      }

      .image-side .inner-wrap {

        .pattern img {
          transform: translate(50%, -50%);
          right: 0;
          left: unset;
        }

        .image-wrap {
          padding: 50px 50px 0 0;
          margin-left: auto;

          @include mq(portraittablet) {
            padding: 20px 20px 0 0;
          }

          .image-background {
            right: 0;
            top: 0;
            left: 50px;
            bottom: 50px;

            @include mq(portraittablet) {
              bottom: 30px;
              left: 30px;
            }
          }
        }
      }
    }
  }

  .row {
    position: relative;
    @include make-row();

    .image-side, .text-side {
      @include make-xs-column(12);
      @include make-sm-column(12);
      @include make-md-column(6);
      box-sizing: border-box;
      z-index: 2;
    }

    .text-side {
      @include mq(portraittablet) {
        padding-top: 50px;
      }

      .text-wrapper {
        padding-top: 20px;
        max-width: 85%;

        @include mq(portraittablet) {
          max-width: unset;
          padding-top: 45px;
        }

        @include mq(medium) {
          max-width: unset;
          padding-top: 90px;
        }

        .text-title {
          font-family: $montserrat;
          font-size: $paragraph-title;
          color: $dark-gray;
          margin: 0;
          letter-spacing: 4px;
          text-transform: uppercase;
          font-weight: bold;
          line-height: 50px;

          @include mq(portraittablet) {
            line-height: 36px;
            font-size: 32px;
          }
        }




        //
        .field {
          margin-bottom: 1.75em;
          position: relative;
          margin-top: 25px;

          &:first-child {
            margin-top: 30px;
          }

          label {
            color: $dark-gray;
            font-family: $open-sans;
            font-size: 17px;
            position: absolute;
            font-weight: 400;
            left: 0em;
            top: .25em;
            transition: all 0.1s linear;
            &:first-child {
              margin-top:30px;
            }
          }

          input, textarea {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $dark-gray;
            color: $dark-gray;
            font-size: 20px;
            padding: .75em .5em .8em;
            width: 100%;
            font-family: $open-sans;
            &:focus {
              border-color: $blue;
              outline: 0;
            }
          }

          textarea {
            resize: vertical;
          }

           input:focus + label,
           input + label.show, textarea:focus + label,
          textarea + label.show {
            border-radius: 4px;
            color: $dark-gray;
            font-size: 0.75em;
            padding: 0 0em;
            text-transform: uppercase;
            top: -1em;
          }

          *,
          *::before,
          *::after {
            box-sizing: border-box;
          }

          a {
            text-decoration: none;
          }


          .error{
            display: none !important;
            margin-left: 10px  !important;
          }

          .error_show{
            color: red  !important;
            margin-left: 10px  !important;
          }
          input.invalid, textarea.invalid{
            border-bottom: 1px solid red  !important;
          }

          input.valid, textarea.valid{
            border-bottom: 1px solid $blue  !important;
          }

        }

        input[type=submit] {
          height: 38px;
          border-radius: 6px;
          border: 3px solid $dark-gray;
          font-family: "Open Sans", sans-serif;
          color: #313131;
          padding: 0px 15px;
          font-size: 16px;
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: 1px;
          transition: ease 0.3s;
          cursor: pointer;
          background-color: #fff;
          &:hover {
            color: #FFF;
            background: $dark-gray;
          }
          &:focus {
            outline: none;
          }
          @include mq(portraittablet) {
            width: 100%;
          }
        }


      }
    }

    .image-side {
      margin-top: 100px;

      @include mq(portraittablet) {
        margin-top: 0px;
      }

      .inner-wrap {
        position: relative;
        display: flex;
        flex: 1;

        .pattern {
          img {
            border-radius: 50%;
            width: 50vw;
            height: auto;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;

            @include mq(portraittablet) {
              width: 85vw;
            }

            @include mq(max) {
              width: 800px;
              height: 800px;
            }
          }
        }

        .image-wrap {
          position: relative;
          display: inline-block;
          float: left;
          max-width: 75%;
          max-height: 75%;
          padding: 50px 0 0 50px;

          @include mq(medium) {
            max-width: 100%;
          }

          @include mq(portraittablet) {
            padding: 20px 0 0 20px;
          }

          img {
            z-index: 5;
            max-width: 100%;
            max-height: 540px;
            display: block;
          }

          .image-background {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 50px;
            right: 50px;
            background: $purple;
            opacity: 0.8;
            z-index: -1;

            @include mq(portraittablet) {
              bottom: 30px;
              right: 30px;
            }
          }
        }
      }
    }
  }
}

//POP-UP styling door Laura
div.wpcf7-response-output {
  margin: 2em 0em 1em;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
  border-top: none;
  border-right: none;
  border-bottom: 2px solid yellow;
  border-left: none;
  padding: 0.5em 0em;
  font-family: 'Open Sans', sans-serif;

}

div.wpcf7-mail-sent-ng, div.wpcf7-aborted {
  border-top: none;
  border-right: none;
  border-bottom: 2px solid red;
  border-left: none;
  padding: 0.5em 0em;
  font-family: 'Open Sans', sans-serif;
}