.not-found {
  .container-wrap {
    @include container-about-me();
    .row {
      @include make-row();
      margin-top: 200px;
      margin-bottom: 200px;
      margin-left: 0px;
      margin-right: 0px;

      @include mq(portraittablet) {
        margin-top: 125px;
        margin-bottom: 75px;
      }

      .image, .text {
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(6);

        display: inline-block;

      }

      .image {
        padding-left: 0px;

        @include mq(portraittablet) {
          padding-right: 0px;
        }

        img {
          width: 100%;
        }
      }

      .text {
        margin: 0;
        padding-right: 0px;

        @include mq(portraittablet) {
          padding-left: 0px;
        }

        h1 {
          font-family: $montserrat;
          font-size: 70px;
          color: $dark-gray;
          letter-spacing: $letter-spacing;
          text-transform: uppercase;
          font-weight: 400;
          line-height: 80px;
          margin-top: 0px;

          @include mq(portraittablet) {
            line-height: 36px;
            font-size: 32px;
            margin-top: 30px;
          }
        }

        p {
          font-family: $open-sans;
          font-size: 20px;
          color: $dark-gray;
          font-weight: 700;

          margin-top: -20px;
          line-height: 27px;

          @include mq(medium) {
            margin-bottom: 50px;
          }

        }

        .btn-wrap {
          display: flex;
          margin-top: 40px;

          .portfolio-btn {
            border-radius: 5px;
            padding: 8px 15px;
            margin-bottom: 40px;
            border: 3px solid $dark-gray;
            color: $dark-gray;
            font-size: 16px;
            display: inline-block;
            float: left;
            font-family: $montserrat;
            letter-spacing: $letter-spacing;
            text-transform: uppercase;
            transition: background .15s ease-in-out, border .15s ease-in-out, color .15s ease-in-out;
            text-decoration: none;

            @include mq(tablet) {
              display: block;
              width: 100%;
              text-align: center;
            }

            &:hover {
              background-color: $dark-gray;
              color: $white;
              border: 3px solid $dark-gray;
              cursor: pointer;
            }
          }
        }

      }

    }
  }
}