.block-tutorials{
  .row {
    position: relative;
    @include make-row();
    @include container-about-me-2();
    page-break-inside: avoid;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;


    .tutorial {
      @include make-xs-column(12);
      @include make-sm-column(6);
      @include make-md-column(4);
      box-sizing: border-box;
      z-index: 2;
      margin-top: 60px;
      padding-left: 30px;
      padding-right: 30px;
      display: flex;
      flex-direction: column;


      @include mq(portraittablet) {
        padding-left: 0px;
        padding-right: 0px;
      }

      display: inline-block; float: none; vertical-align: top;

      .video-wrapper {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      h1 {
        font-size: 30px;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 3px;
        text-transform: uppercase;
        margin-bottom: -13px;
        font-weight: 300;
      }

      .info_tutorial {
        line-height: 27px;
        margin-top: 16px;
        margin-bottom: 16px;
        font-family: "Open Sans";
      }

    }
  }
}