footer {
	.footer-wrapper {
		@include clearfix();
		@include container-fixed();
		padding: 50px 0;

		.row {
			display: flex;
			justify-content: space-between;

			@include mq(medium) {
				display: block;
				margin: 0 -15px;
			}

			> div {
				@include mq(portraittablet) {
					margin-top: 20px;

					&:first-of-type {
						margin-top: 0;
					}

					&:last-of-type {
						margin-bottom: 50px;
					}
				}
			}
		}

		.wrapper-1{
			overflow: hidden;
			border-top: 2px solid #131313;
			position: relative;
			padding-bottom: 50px;
			padding-top: 30px;
		}

		.wrapper-inner {
			@include container-about-me();
		}

		.side-map, .contact, .social{
			box-sizing: border-box;

			@include mq(medium) {
				@include make-xs-column(12);
				@include make-sm-column(12);
				margin-bottom: 40px;

				.wrap {
					float: left;
				}
			}

			@include mq(portraittablet) {
				border-bottom: solid 1px black;
				padding-bottom: 70px;
				&:last-child {
					border-bottom: solid 0px black;
				}
			}

			h2 {
				margin-bottom: 20px;
				font-size: 25px;
				font-family: $montserrat;
				letter-spacing: 4px;
				font-weight: 100;
			}

		}

		.side-map {
			ul {
				columns: 2;
				column-gap: 40px;
				margin: 0;
				padding: 0;
				max-width: 100%;
				display: inline-block;

				li {
					list-style-type: none;

					a {
						font-size: 12px;
						text-decoration: none;
						text-transform: uppercase;
						letter-spacing: 2.5px;
						line-height: 30px;
						font-family: $montserrat;
						font-weight: 600;
						color: #131313;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}

			.contact-btn {
				height: 50px;
				border-radius: 6px;
				border: 3px solid #131313;
				font-family: $open-sans;
				color: #313131;
				padding: 5px 15px;
				font-size: 16px;
				text-decoration: none;
				text-transform: uppercase;
				letter-spacing: 1px;
			}
		}

		.contact {
			@include mq(portraittablet) {
				display: block;
			}

			.wrap {
				p {
					margin: 0;
					line-height: 30px;
					font-family: $montserrat;
					font-weight: 600;
					color: #131313;
					font-size: 12px;
					text-transform: uppercase;
					letter-spacing: 2.5px;
				}
			}
		}

		.separator {
			margin-left: -20px;
			height: 2px;
			width: 110%;
			background: black;
			left: 10px;
		}
	}

	.social {

		.wrap {
			max-width: 250px;
			overflow: hidden;
			position: relative;
			float: right;
			right: -5px;

			@include mq(portraittablet) {
				float: left;
			}

			.image-wrap {
				position: relative;
				overflow: hidden;


				span {
					padding: 0 5px 5px 0;
					float: left;
					width: 33.3333%;
					display: inline-block;

					img {
						float: left;
						display: block;
						width: 100%;
					}
				}
			}

			.socials {
				display: block;
				margin-top: 30px;

				.social-icons {
					width: 40px;
					height: 40px;
					border-radius: 6px;
					background-color: #131313;
					display: inline-block;
					float: left;
					margin-right: 10px;
					position: relative;
					text-decoration: none;

					&:last-of-type {
						margin-right: 0;
					}

					span {
						&.youtube {
							&:before {
								@include youtube-icon();
								top: 56%;
							}
						}

						&:before {
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							color: white;
							text-decoration: none;
							font-size: 28px;
						}
					}
				}
			}
		}
	}
}
