@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Satisfy|Unna');

//font-family: 'Unna', serif;
//font-family: 'Satisfy', cursive;
//font-family: 'Montserrat', sans-serif;
//font-family: 'Open Sans', sans-serif;

@charset "UTF-8";

@font-face {
  font-family: "emma-wagemans";
  //src:url("/ew-portfolio/wp-content/themes/emma_portfolio/assets/scss/fonts/emma-wagemans.eot");
  //src:url("/ew-portfolio/wp-content/themes/emma_portfolio/assets/scss/fonts/emma-wagemans.eot?#iefix") format("embedded-opentype"),
  //url("/ew-portfolio/wp-content/themes/emma_portfolio/assets/scss/fonts/emma-wagemans.woff") format("woff"),
  //url("/ew-portfolio/wp-content/themes/emma_portfolio/assets/scss/fonts/emma-wagemans.ttf") format("truetype"),
  //url("/ew-portfolio/wp-content/themes/emma_portfolio/assets/scss/fonts/emma-wagemans.svg#emma-wagemans") format("svg");
  font-weight: normal;
  font-style: normal;

  //font-family: "emma-wagemans";
  src:url("http://emma.stijnolthof.nl/wp-content/themes/emma_portfolio/assets/scss/fonts/emma-wagemans.eot");
  src:url("http://emma.stijnolthof.nl/wp-content/themes/emma_portfolio/assets/scss/fonts/emma-wagemans.eot?#iefix") format("embedded-opentype"),
  url("http://emma.stijnolthof.nl/wp-content/themes/emma_portfolio/assets/scss/fonts/emma-wagemans.woff") format("woff"),
  url("http://emma.stijnolthof.nl/wp-content/themes/emma_portfolio/assets/scss/fonts/emma-wagemans.ttf") format("truetype"),
  url("http://emma.stijnolthof.nl/wp-content/themes/emma_portfolio/assets/scss/fonts/emma-wagemans.svg#emma-wagemans") format("svg");
}

[data-icon]:before {
  font-family: "emma-wagemans" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "emma-wagemans" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\61";
}
.icon-twitter:before {
  content: "\63";
}
.icon-youtube:before {
  content: "\7a";
}
.icon-search:before {
  content: "\62";
}
.icon-cross:before {
  content: "\66";
}
.icon-bars:before {
  content: "\65";
}

