//fonts
$open-sans:     'Open Sans', sans-serif;
$montserrat:    'Montserrat', sans-serif;
$unna:          'Unna', serif;


//colors
$dark-gray:     #131313;
$white:         #fff;
$pink:          #FFCADE;
$purple:        #DB9BE9;
$blue:          #4C7BFF;
$yellow:        #F2F949;

//font-sizes
$paragraph:         16px;
$paragraph-title:   44px;

$header-title:      124px;
$letter-spacing:    1.5px;



