* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	&.overflow-hide {
		overflow: hidden;
	}
}

#main {
	&.show {
		.info-popup-wrapper {
			display: block;
		}
	}

	.info-popup-wrapper {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1000;
		background-color: $dark-gray;
		opacity: 0.85;
		animation: portfolioPop 0.3s;
		animation-fill-mode: both;
	}

	@keyframes portfolioPop {
		from {
			opacity: 0;
		}
		to {
			opacity: 0.85;
		}
	}

	.container {
		@include container-about-me();

		.custom-row {
			margin-left: -10px;
			margin-right: -10px;
			margin-bottom: 100px;
		}

		.filter-wrapper {
			display: flex;
			justify-content: center;
			position: relative;
			margin: 55px 0 40px;

			.filter-items {
				display: block;
				z-index: 20;

				@include mq(portraittablet) {
					display: none;
					position: absolute;
					background: $white;
					left: 0;
					right: 0;
					top: 50px;

					&.show {
						display: block;
					}
				}

				label {
					text-transform: uppercase;
					font-size: 13px;
					letter-spacing: $letter-spacing;
					font-family: $montserrat;
					list-style: none;
					color: $dark-gray;
					display: inline-block;
					padding: 0 10px;
					margin: 0 15px;
					position: relative;

					@include mq(medium) {
						padding: 0 15px;
						margin: 0;
					}

					&:last-of-type {
						border-bottom: none;
					}

					@include mq(portraittablet) {
						display: block;
						padding: 20px;
						text-align: center;
						border-bottom: 1px solid gray;
					}

					&:after {
						content: '';
						position: absolute;
						left: 10px;
						right: 10px;
						bottom: -5px;
						height: 2px;
						display: none;
						background-color: #4C7BFF;
					}

					&:hover {
						cursor: pointer;

						&:after {
							display: block;

							@include mq(portraittablet) {
								display: none;
							}
						}
					}

					&.active-filter {
						&:after {
							display: block !important;
						}
					}

					input {
						display: none;
					}
				}
			}

			ul {
				padding: 0;
				margin: 0;

				&.mobile-filter {
					display: none;

					@include mq(portraittablet) {
						display: block;
					}

					li {
						position: relative;

						&:before {
							@include arrow-down-icon();
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							right: -20px;
							width: 20px;
							height: 20px;
						}
					}
				}

				li {
					text-transform: uppercase;
					font-size: 16px;
					letter-spacing: $letter-spacing;
					font-family: $montserrat;
					list-style: none;
					color: $dark-gray;
					display: inline-block;
					padding: 0 10px;
					position: relative;

					&:after {
						content: '';
						position: absolute;
						left: 10px;
						right: 10px;
						bottom: -5px;
						height: 2px;
						display: none;
						background-color: #4C7BFF;
					}

					&:hover {
						cursor: pointer;

						&:after {
							display: block;
						}
					}
				}
			}
		}

		.portfolio-image {
			overflow: hidden;

			.image-slice {
				overflow: hidden;

				img {
					transition: transform .3s ease-in-out;
					width: 100%;
					display: block;

					&:hover {
						transform: scale(1.04);
					}
				}
			}

			&.grid-item {

				float: left;
				height: auto;
				padding: 10px;
			}

			&.grid-size {
				width: calc(100% / 3);

				@include mq(portraittablet) {
					width: 50%;
				}
			}
		}

		.info-wrapper {
			display: none;
			position: fixed;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: 1005;

			@include container-about-me();

			&.show-it {
				display: block;
			}


			.inner {
				position: relative;
				overflow: hidden;

				&.row {
					margin-left: -15px;
					margin-right: -15px;
				}

				.close-icon {
					padding: 20px;
					top: -10px;
					right: -4px;
					position: absolute;
					z-index: 125;
					cursor: pointer;
					
					&:hover {
						color: #000;
					}

					&:before {
						@include close-icon();
						width: 20px;
						height: 20px;
						&:hover {
							fill: #000;
							opacity: 0.5;
						}
					}
				}

				.inner-scroll {
					max-height: 90vh;
					overflow-y: scroll;
					padding: 30px 0;


					.image-wrap {
						@include make-xs-column(12);
						@include make-sm-column(12);
						@include make-md-column(6);
						margin-bottom: 50px;

						.mason-wrap {
							max-width: 70%;
							margin: 0 auto;

							@include mq(tablet) {
								max-width: 100%;
							}

							.masonry-wrapper {
								margin: 0 -10px;
							}
						}

						img {
							max-width: 100%;
							max-height: 600px;
							height: auto;
							display: block;
							margin: 0 auto;

							@include mq(medium) {
								max-width: 100%;
							}
						}

						.grid-item {

							float: left;
							height: auto;
							padding: 10px;
						}

						.grid-size {
							width: calc(100% / 2);

							@include mq(portraittablet) {
								width: 50%;
							}
						}
					}

					.info-block {
						@include make-xs-column(12);
						@include make-sm-column(12);
						@include make-md-column(6);
						position: relative;
						overflow: hidden;
						padding-top: 50px;

						@include mq(medium) {
							padding-top: 0;
						}

						.inner {
							max-width: 90%;

							p, .contact-btn {
								color: white;
							}

							.image-title, .sub-title {
								text-transform: uppercase;
								letter-spacing: $letter-spacing;
							}

							.info-wraps {
								p {
									font-family: $open-sans;
									font-size: 14px;
									line-height: 20px;
									font-weight: 100;
									letter-spacing: 0.3px;
								}
							}

							p {
								&.image-title {
									font-size: 38px;
									font-family: $montserrat;
									margin: 0;
									font-weight: bold;

									@include mq(tablet) {
										font-size: 28px;
									}
								}

								&.sub-title {
									font-size: 24px;
									font-family: $montserrat;
									font-weight: 300;
									margin: 15px 0;

									@include mq(tablet) {
										font-size: 18px;
									}
								}
							}

							.contact-btn {
								border-radius: 5px;
								padding: 8px 15px;
								margin-bottom: 25px;
								border: 3px solid white;
								color: white;
								font-size: 16px;
								display: inline-block;
								float: left;
								font-family: $montserrat;
								letter-spacing: $letter-spacing;
								margin-right: 25px;
								text-transform: uppercase;
								transition: background .15s ease-in-out, border .15s ease-in-out, color .15s ease-in-out;

								&:hover {
									background-color: white;
									color: $dark-gray;
									border: 3px solid white;
									cursor: pointer;
								}
							}
						}
					}
				}
			}
		}
	}
}
