$breakpoints: (
		'mobile': (max-width: 480px),
		'mobile-min': (min-width: 480px),
		'vertical-tablet': (max-width: 768px),
		'vertical-tablet-min': (min-width: 768px),
		'horizontal-tablet': (max-width: 1024px),
		'horizontal-tablet-min': (min-width: 1024px),
		'desktop': (max-width: 1224px),
		'desktop-min': (min-width: 1224px),
		'wide': (max-width: 1600px),
		'wide-min': (min-width: 1600px)
) !default;

@mixin respond-to($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media #{inspect(map-get($breakpoints, $breakpoint))} {
			@content;
		}
	} @else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
	}
}

@mixin clearfix() {
	&:before,
	&:after {
		content: " "; // 1
		display: table; // 2
	}
	&:after {
		clear: both;
	}
}

@mixin mq($media) {
	/* Landscape phones and down */
	@if $media == tablet {
		@media (max-width: 600px) {
			@content;
		}
	}
		/* Landscape phone to portrait tablet */
	@else if $media == portraittablet {
		@media (max-width: 767px) {
			@content;
		}
	}

	@else if $media == portraittablet-min {
		@media (min-width: 767px) {
			@content;
		}
	}
		/* Portrait tablet to landscape and desktop */
	@else if $media == medium {
		@media (max-width: 991px) {
			@content;
		}
	}

	@else if $media == medium-min {
		@media (min-width: 991px) {
			@content;
		}
	}
		/* Large desktop */

	@else if $media == wide {
		@media (max-width: 1200px) {
			@content;
		}
	}

	@else if $media == wide-min {
		@media (min-width: 1200px) {
			@content;
		}
	}

	@else if $media == max {
		@media (min-width: 1440px) {
			@content;
		}
	}
}

@mixin container-about-me {
	width: 100%;
	margin: 0 auto;
	padding: 0 50px;
	max-width: 1440px;
	box-sizing: border-box;

	@include mq(portraittablet) {
		padding: 0 20px;
	}
}

@mixin container-about-me-2 {
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	max-width: 1440px;
	box-sizing: border-box;

	@include mq(portraittablet) {
		padding: 0 20px;
	}
}


@mixin youtube-icon {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 96.875 96.875' style='enable-background:new 0 0 96.875 96.875;' xml:space='preserve'%3E%3Cpath d='M95.201,25.538c-1.186-5.152-5.4-8.953-10.473-9.52c-12.013-1.341-24.172-1.348-36.275-1.341 c-12.105-0.007-24.266,0-36.279,1.341c-5.07,0.567-9.281,4.368-10.467,9.52C0.019,32.875,0,40.884,0,48.438 C0,55.992,0,64,1.688,71.336c1.184,5.151,5.396,8.952,10.469,9.52c12.012,1.342,24.172,1.349,36.277,1.342 c12.107,0.007,24.264,0,36.275-1.342c5.07-0.567,9.285-4.368,10.471-9.52c1.689-7.337,1.695-15.345,1.695-22.898 C96.875,40.884,96.889,32.875,95.201,25.538z M35.936,63.474c0-10.716,0-21.32,0-32.037c10.267,5.357,20.466,10.678,30.798,16.068 C56.434,52.847,46.23,58.136,35.936,63.474z' fill='%23FFFFFF'/%3E%3C/svg%3E");
}

@mixin arrow-down-icon {
	content: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 129 129' xmlns:xlink='http://www.w3.org/1999/xlink' enable-background='new 0 0 129 129'%3E%3Cg%3E%3Cpath d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z'/%3E%3C/g%3E%3C/svg%3E");
}

@mixin arrow-right-icon {
	content: url("data:image/svg+xml,%3Csvg version='1.1' fill='white' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 129 129' xmlns:xlink='http://www.w3.org/1999/xlink' enable-background='new 0 0 129 129'%3E%3Cg%3E%3Cpath d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z'/%3E%3C/g%3E%3C/svg%3E");
	transform: rotate(45deg);
}

@mixin close-icon {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='15px' height='15px' viewBox='0 0 357 357' style='enable-background:new 0 0 357 357;' xml:space='preserve'%3E%3Cg%3E%3Cg id='close'%3E%3Cpolygon points='357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3 214.2,178.5 ' fill='%23FFFFFF'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
	transition: 0.3s ease;
}

.close-icon {
	transition: ease 0.3s;
}

.close-icon:hover {
	opacity: 0.5;
}

@mixin background-pattern {
	background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 300 300' style='enable-background:new 0 0 300 300;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23F4F4F4;%7D%0A%3C/style%3E%3Cg id='circles'%3E%3C/g%3E%3Cg id='triangles'%3E%3Cg%3E%3Cpath class='st0' d='M28.5-6.7l11.1,19.2H17.4L28.5-6.7 M28.5-14.7l-18,31.2h36.1L28.5-14.7L28.5-14.7z'/%3E%3C/g%3E%3Cg%3E%3Cpolygon class='st0' points='90.1,14.5 104.7,-10.7 119.3,14.5 '/%3E%3Cpath class='st0' d='M104.7-6.7l11.1,19.2H93.6L104.7-6.7 M104.7-14.7l-18,31.2h36.1L104.7-14.7L104.7-14.7z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st0' d='M180.9-6.7L192,12.5h-22.2L180.9-6.7 M180.9-14.7l-18,31.2h36.1L180.9-14.7L180.9-14.7z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st0' d='M257.1-6.7l11.1,19.2H246L257.1-6.7 M257.1-14.7l-18,31.2h36.1L257.1-14.7L257.1-14.7z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st0' d='M28.5,293.3l11.1,19.2H17.4L28.5,293.3 M28.5,285.3l-18,31.2h36.1L28.5,285.3L28.5,285.3z'/%3E%3C/g%3E%3Cg%3E%3Cpolygon class='st0' points='90.1,314.5 104.7,289.3 119.3,314.5 '/%3E%3Cpath class='st0' d='M104.7,293.3l11.1,19.2H93.6L104.7,293.3 M104.7,285.3l-18,31.2h36.1L104.7,285.3L104.7,285.3z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st0' d='M180.9,293.3l11.1,19.2h-22.2L180.9,293.3 M180.9,285.3l-18,31.2h36.1L180.9,285.3L180.9,285.3z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st0' d='M257.1,293.3l11.1,19.2H246L257.1,293.3 M257.1,285.3l-18,31.2h36.1L257.1,285.3L257.1,285.3z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st0' d='M66.2,69.5l11.1,19.2H55.1L66.2,69.5 M66.2,61.5l-18,31.2h36.1L66.2,61.5L66.2,61.5z'/%3E%3C/g%3E%3Cg%3E%3Cpolygon class='st0' points='127.8,90.7 142.4,65.5 157,90.7 '/%3E%3Cpath class='st0' d='M142.4,69.5l11.1,19.2h-22.2L142.4,69.5 M142.4,61.5l-18,31.2h36.1L142.4,61.5L142.4,61.5z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st0' d='M218.6,69.5l11.1,19.2h-22.2L218.6,69.5 M218.6,61.5l-18,31.2h36.1L218.6,61.5L218.6,61.5z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st0' d='M-10,69.5L1.1,88.7h-22.2L-10,69.5 M-10,61.5l-18,31.2H8.1L-10,61.5L-10,61.5z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st0' d='M66.2,69.5l11.1,19.2H55.1L66.2,69.5 M66.2,61.5l-18,31.2h36.1L66.2,61.5L66.2,61.5z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st0' d='M142.4,69.5l11.1,19.2h-22.2L142.4,69.5 M142.4,61.5l-18,31.2h36.1L142.4,61.5L142.4,61.5z'/%3E%3C/g%3E%3Cg%3E%3Cpolygon class='st0' points='13.9,166.1 28.5,140.9 43.1,166.1 '/%3E%3Cpath class='st0' d='M28.5,144.9l11.1,19.2H17.4L28.5,144.9 M28.5,136.9l-18,31.2h36.1L28.5,136.9L28.5,136.9z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st0' d='M104.7,144.9l11.1,19.2H93.6L104.7,144.9 M104.7,136.9l-18,31.2h36.1L104.7,136.9L104.7,136.9z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st0' d='M180.9,144.9l11.1,19.2h-22.2L180.9,144.9 M180.9,136.9l-18,31.2h36.1L180.9,136.9L180.9,136.9z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st0' d='M257.1,144.9l11.1,19.2H246L257.1,144.9 M257.1,136.9l-18,31.2h36.1L257.1,136.9L257.1,136.9z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st0' d='M66.2,221.1l11.1,19.2H55.1L66.2,221.1 M66.2,213.1l-18,31.2h36.1L66.2,213.1L66.2,213.1z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st0' d='M142.4,221.1l11.1,19.2h-22.2L142.4,221.1 M142.4,213.1l-18,31.2h36.1L142.4,213.1L142.4,213.1z'/%3E%3C/g%3E%3Cg%3E%3Cpolygon class='st0' points='204,242.3 218.6,217.1 233.2,242.3 '/%3E%3Cpath class='st0' d='M218.6,221.1l11.1,19.2h-22.2L218.6,221.1 M218.6,213.1l-18,31.2h36.1L218.6,213.1L218.6,213.1z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st0' d='M-10,221.1l11.1,19.2h-22.2L-10,221.1 M-10,213.1l-18,31.2H8.1L-10,213.1L-10,213.1z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st0' d='M290,69.5l11.1,19.2h-22.2L290,69.5 M290,61.5l-18,31.2h36.1L290,61.5L290,61.5z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st0' d='M290,221.1l11.1,19.2h-22.2L290,221.1 M290,213.1l-18,31.2h36.1L290,213.1L290,213.1z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st0' d='M66.2,221.1l11.1,19.2H55.1L66.2,221.1 M66.2,213.1l-18,31.2h36.1L66.2,213.1L66.2,213.1z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st0' d='M142.4,221.1l11.1,19.2h-22.2L142.4,221.1 M142.4,213.1l-18,31.2h36.1L142.4,213.1L142.4,213.1z'/%3E%3C/g%3E%3C/g%3E%3Cg id='sprinkles'%3E%3C/g%3E%3C/svg%3E%0A");
}
