.diensten-block {
	position: relative;
	overflow: hidden;
	padding: 50px 0 0 0;

	.inner {
		@include container-about-me();

		.text-title {
			font-family: $montserrat;
			font-size: $paragraph-title;
			color: $dark-gray;
			margin: 0 0 30px 0;
			letter-spacing: $letter-spacing;
			text-transform: uppercase;
			font-weight: bold;
			line-height: 50px;

			@include mq(portraittablet) {
				line-height: 36px;
				font-size: 32px;
			}
		}

		.row {
			margin: 0 -15px;
			display: flex;
			flex-flow: row wrap;

			.item {
				margin-top: 30px;

				@include make-xs-column(12);
				@include make-sm-column(6);
				@include make-md-column(4);

				.overflow {
					overflow: hidden;
				}

				.background-image {
					height: 400px;
					background-position: center center;
					background-size: cover;
					transition: transform .15s ease-in-out;

					@include mq(portraittablet) {
						height: 350px;
					}

					@include mq(tablet) {
						height: 300px;
					}

					&:hover {
						transform: scale(1.05);
						cursor: pointer;
					}
				}

				.title {
					font-size: 20px;
					font-family: $montserrat;
					text-transform: uppercase;
					letter-spacing: $letter-spacing;
					color: $dark-gray;
					margin: 15px 0 8px;
				}

				.info {
					font-size: 16px;
					line-height: 20px;
					margin-bottom: 50px;
					font-family: $open-sans;

					p {
						margin: 0;
					}
				}
			}
		}
	}
}
