.opvallende-visual-block {
	margin: 50px 0;

	.image-wrap {
		img {
			width: 100%;
			display: block;
		}

		.text-wrap {
			@include container-about-me();
			position: relative;

			.text-sub-title {
				position: absolute;
				bottom: 50px;
				left: 50px;
				font-weight: 100;
				font-size: 30px;
				font-family: $montserrat;
				text-transform: uppercase;
				margin: 0;
				color: $white;

				@include mq(portraittablet) {
					left: 20px;
					bottom: 20px;
				}
			}
		}
	}
}
