.tekst-block {
	@include container-about-me();
	position: relative;
	overflow: hidden;
	padding: 50px;

	.text-wrapper {
		max-width: 85%;

		@include mq(portraittablet) {
			max-width: unset;
			padding-top: 45px;
		}

		.text-title {
			font-family: $montserrat;
			font-size: $paragraph-title;
			color: $dark-gray;
			margin: 0;
			letter-spacing: $letter-spacing;
			text-transform: uppercase;
			font-weight: bold;
			line-height: 50px;

			@include mq(portraittablet) {
				line-height: 36px;
				font-size: 32px;
			}
		}

		.text-sub-title {
			font-weight: 100;
			font-size: 30px;
			font-family: $montserrat;
			text-transform: uppercase;
			margin: 10px 0 15px;
		}

		.paragraph {
			font-family: $open-sans;
			font-size: $paragraph;
			color: $dark-gray;
			max-width: 60%;
			line-height: 23px;

			@include mq(portraittablet) {
				max-width: 100%;
			}
		}
	}

	.btn-wrap {
		margin-top: 20px;

		a {
			border-radius: 5px;
			padding: 8px 15px;
			border: 3px solid $dark-gray;
			color: $dark-gray;
			font-size: 16px;
			display: inline-block;
			float: left;
			font-family: $montserrat;
			letter-spacing: $letter-spacing;
			text-transform: uppercase;
			transition: background .15s ease-in-out, border .15s ease-in-out, color .15s ease-in-out;
			text-decoration: none;

			@include mq(tablet) {
				display: block;
				width: 100%;
				text-align: center;
			}

			&:hover {
				background-color: $dark-gray;
				color: $white;
				border: 3px solid $dark-gray;
				cursor: pointer;
			}
		}
	}
}
