.uitgelicht-project-block {
	@include container-about-me();
	clear: both;

	h2 {
		font-size: 44px;
		font-family: $montserrat;
		color: $dark-gray;
		letter-spacing: $letter-spacing;
		margin-top: 50px;
		text-transform: uppercase;

		@include mq(tablet) {
			font-size: 24px;
		}
	}

	.inner {
		max-width: 50%;
		margin: 0 auto;
		position: relative;
		overflow: hidden;

		@include mq(tablet) {
			max-width: 100%;
		}

		.row {
			margin: 0 -10px;
		}

		.btn-wrap {
			display: flex;
			justify-content: center;
			margin-top: 40px;

			.portfolio-btn {
				border-radius: 5px;
				padding: 8px 15px;
				margin-bottom: 40px;
				border: 3px solid $dark-gray;
				color: $dark-gray;
				font-size: 16px;
				display: inline-block;
				float: left;
				font-family: $montserrat;
				letter-spacing: $letter-spacing;
				text-transform: uppercase;
				transition: background .15s ease-in-out, border .15s ease-in-out, color .15s ease-in-out;
				text-decoration: none;

				@include mq(tablet) {
					display: block;
					width: 100%;
					text-align: center;
				}

				&:hover {
					background-color: $dark-gray;
					color: $white;
					border: 3px solid $dark-gray;
					cursor: pointer;
				}
			}
		}

		.masonry-wrapper {
			.item {
				&.grid-item {
					float: left;
					height: auto;
					padding: 10px;
				}

				&.grid-size {
					width: 50%;
				}

				img {
					width: 100%;
					display: block;
				}
			}
		}
	}
}
