.video-highlight-block {
	position: relative;
	overflow: hidden;
	padding: 50px 0;


	.align {
		@include container-about-me();

		.text-title {
			font-family: $montserrat;
			font-size: $paragraph-title;
			color: $dark-gray;
			margin: 0 0 30px 0;
			letter-spacing: $letter-spacing;
			text-transform: uppercase;
			font-weight: bold;
			line-height: 50px;

			@include mq(portraittablet) {
				line-height: 36px;
				font-size: 32px;
			}
		}

		.inner {
			.row {
				margin: 0 -15px;

				iframe {
					border: none;
					margin-bottom: 30px;
				}
			}

			.item {
				@include make-xs-column(12);
				@include make-sm-column(6);
				@include make-md-column(4);
				height: 240px;
			}

			.see-more.item {
				@include make-xs-column(12);
				@include make-sm-column(12);
				@include make-md-column(4);

				.background-image {
					background-position: center center;
					background-size: cover;
					height: 100%;
					width: 100%;
					position: relative;

					&:after {
						width: 100%;
						height: 100%;
						display: block;
						position: absolute;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						background-color: $dark-gray;
						opacity: 0.9;
						content: '';
					}
				}

				.text-wrap {
					position: absolute;
					top: 50%;
					left: 30px;
					transform: translateY(-50%);
					z-index: 15;

					.text {
						letter-spacing: $letter-spacing;
						color: white;
						font-size: 30px;
						text-transform: uppercase;
						font-family: $montserrat;
						max-width: 320px;
						display: inline-block;

						&:before {
							@include arrow-right-icon();
							position: absolute;
							right: 0;
							top: 0;
							transform: rotate(-90deg);
							z-index: 571287512875;
							width: 26px;
							height: 39px;
							display: block;
						}
					}
				}
			}
		}
	}
}
