.video-block {
	.wrapper {
		width: 100vw;
		background-color: $dark-gray;
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 0px;
		height: 0;
		margin-top: 86px;


		.inner {
			@include container-about-me();

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border: none;
			}
		}
	}
}