//* {
//  transition: all .3s ease-in-out;
//}

#masthead {
	&.show {
		ul.main-nav {
			display: none;
			opacity: 0;
		}

		.header-search {
			display: flex;

			.inner-wrapper {
				width: 70%;
			}
		}
	}
}

.site-content-contain {
	//@include container-about-me();
	//padding-top: 60px;
	overflow-x: hidden;
}

.header-wrapper {
	@include container-about-me();
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	ul {
		padding: 0;
	}

	.header-search {
		display: none;
		justify-items: center;
		align-items: center;
		justify-content: center;
		flex: 1;

		.inner-wrapper {
			border-bottom: 2px solid $dark-gray;
			position: relative;
			transition: 1s ease-in-out;
			width: 0;

			input {
				height: 30px;
				background-color: transparent;
				outline: none;
				border: none;
				width: 100%;
				font-family: $open-sans;
				font-size: 16px;
				padding-left: 30px;
			}

			i.closer {
				font-style: normal;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 0;

				&:hover {
					cursor: pointer;
				}

				&:before {
					content: 'f';
					font-family: emma-wagemans;
					color: $dark-gray;
					font-size: 18px;
					position: relative;
					bottom: -2px;
				}
			}

			i.search-icon {
				font-style: normal;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;

				&:before {
					content: 'b';
					font-family: emma-wagemans;
					color: $dark-gray;
					font-size: 16px;
					position: relative;
					bottom: -2px;
				}
			}
		}
	}
}

ul.header-cta {
	display: flex;
	justify-items: center;
	align-items: center;

	a, li {
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}

	li {
		@include respond-to(horizontal-tablet) {
			&:last-of-type {
				margin-left: 15px;
			}
		}
	}
}

ul.logo {
	display: flex;

	li {
		margin-right: auto;
		padding: 0;

		img {
			height: 50px;
			padding-right: 20px;
			position: relative;
			left: -7px
		}
	}
}

.main-nav {
	display: -webkit-flex;
	display: flex;
	padding: 0 0 0 0;
	justify-content: center;
	align-items: center;
	justify-items: center;
	transition: opacity 1s ease-in-out;
	opacity: 1;

	li {
		&.active {
			a.link {
				position: relative;

				&:hover {
					&:before {
						content: '';
						width: 100%;
						position: absolute;
						left: 0;
						right: 0;
						bottom: 0;
						height: 2px;
						background-color: #4C7BFF;
						display: block;
					}
				}

				&:before {
					content: '';
					width: 100%;
					position: absolute;
					left: 0;
					right: 0;
					bottom: -2px;
					height: 2px;
					background-color: #4C7BFF;
					display: block;
				}
			}
		}

		&:first-child {
			margin-right: auto;
		}

		&:nth-child(9) {
			margin-right: auto;
			padding: 0;
			margin-bottom: 0;
		}

		&.cta {
			@include mq(tablet) {
				display: none;
			}
		}
	}

	a {
		display: block;
		text-decoration: none;
	}
}

.logo-img {
	background-image: url("/ew-portfolio/wp-content/themes/emma_portfolio/assets/images/LOGO-01.png");
}

.site-header {
	z-index: 999;
	position: fixed;
	overflow: hidden;
	background: #ffffff;
	width: 100%;
	top: 0;
	left: 0;
	padding: 0 0;
}

header {
	div {
		a {
			letter-spacing: 2.5px;
			color: #131313;
			white-space: nowrap;
			position: relative;

			@include respond-to('desktop') {
				letter-spacing: 0.8px;
			}

			&:before {
				content: '';
				width: 100%;
				position: absolute;
				left: 0;
				right: 0;
				bottom: -10px;
				height: 2px;
				display: none;
				background-color: #4C7BFF;
			}
		}
	}
	a.link:hover {
		&:before {
			display: block;
			margin-bottom: -2px;
			bottom: 0;
		}
	}
}

nav {
	.cta {
		padding-left: 17px;
		padding-right: 17px;
		padding-top: 7px;
		padding-bottom: 7px;
		background-color: #131313;
		color: white;
		font-family: 'Montserrat', sans-serif;
		text-align: center;
		font-size: 12px;
		border-radius: 6px;
		font-weight: 600;
		margin-top: 0px;
		cursor: pointer;
		transition: ease 0.3s;
		border: 3px solid $dark-gray;
		&:hover {
			background-color: #fff;
			color: $dark-gray;
			border: 3px solid $dark-gray;
		}
	}

	ul {
		li {
			padding: 0 14px;
			display: table-cell;

			@include mq(wide) {
				padding: 0 10px;
			}

			span {
				text-decoration: none;
			}
		}
	}
}

.site-header.sticky-nav {
	background: rgba(255, 255, 255, 0.8);
}

.green, .highlighted {
	border-bottom: 2px solid #4C7BFF;
	//padding-bottom: 2px;
	//margin-bottom: -5px;
}

.highlighted {
	margin-bottom: -2px;
}

.cta:hover {
	background-color: #000000;
}

.hamburger {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #131313;
	color: white;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 14px;
	border-radius: 6px;
	font-weight: 600;
	margin-top: 0px;
	margin-left: 10px;
	cursor: pointer;
}

.hamburger:hover {
	background-color: #000000;
}

//////////////////////////////////Menu

.overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
	overflow-y: hidden;
	transition: 0.5s;

	a {
		padding: 8px;
		text-decoration: none;
		font-size: 36px;
		color: #fff;
		display: block;
		transition: 0.3s;
		font-family: 'Montserrat', sans-serif;
	}

	a:hover, .overlay a:focus {
		color: #f1f1f1;
	}

	.closebtn {
		position: absolute;
		top: 10px;
		right: 7px;
		font-size: 60px;
		padding: 8px 20px;

		@include mq(medium) {
			right: 37px;
		}

		@include mq(portraittablet) {
			right: 7px;
		}
	}

	.overlay-content {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		text-align: center;

		a {
			letter-spacing: 2.7px;
		}

		.searchbar {
			.inner-wrapper {
				border-bottom: 2px solid $white;
				width: 40%;
				margin: 0 auto;
				position: relative;

				@include mq(tablet) {
					width: 80%;
				}

				input {
					background-color: transparent;
					height: 50px;
					outline: none;
					border: none;
					font-size: $paragraph;
					font-family: $open-sans;
					letter-spacing: $letter-spacing;
					width: 100%;
					color: $white;
					padding-left: 30px;

					&:focus {
						outline: none;
					}
				}

				i {
					font-style: normal;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 0;

					&:before {
						content: 'b';
						font-family: emma-wagemans;
						color: $white;
						font-size: 16px;
						position: relative;
						bottom: -2px;
					}
				}
			}
		}
	}
}


@media screen and (max-height: 450px) {
	.overlay {
		overflow-y: auto;
	}
	.overlay a {
		font-size: 20px
	}
	.overlay .closebtn {
		font-size: 40px;
	}
}
