.container-1 {
  padding: 70px 0;

  @include respond-to('desktop') {
    padding: 60px 0;
  }
  @include respond-to('horizontal-tablet') {
    padding: 45px 0;
  }
  @include respond-to('vertical-tablet') {
    padding: 30px 0;
  }
  @include respond-to('mobile') {
    padding: 20px 0;
  }
}


.wrapper-1 {
  padding: 0 120px;

  @include respond-to('desktop') {
    padding: 0 70px;
  }
  @include respond-to('horizontal-tablet') {
    padding: 0 55px;
  }
  @include respond-to('vertical-tablet') {
    padding: 0 30px;
  }
  @include respond-to('mobile') {
    padding: 0 20px;
  }
}


.tablet-remove {
  @include respond-to ('horizontal-tablet') {
    display: none;
  }
}
.tablet-view {
  @include respond-to ('horizontal-tablet-min') {
    display: none;
  }
}